[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/FreeRTOS"]
	path = components/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "components/FreeRTOS-RaspberryPi"]
	path = components/FreeRTOS-RaspberryPi
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
